{% extends 'base.html' %}
{% load static %}
{% load scheduletags %}
{% block cta %}




<link rel="stylesheet" type="text/css" href="{% static 'scheduler/css/fullcalendar.min.css' %}">
<script src="{% static 'scheduler/js/fullcalendar.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            events: "{% url 'scheduler:event_json' %}",
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            eventClick: function(event, jsEvent, view) {
                $('#modalTitle').html(event.title);
                $('#modalBody').html(event.description);
                $('#eventUrl').attr('href',event.url);
                $('#fullCalModal').modal();
                return false;
            }
        });
    });
</script>

<div id='calendar'></div>

<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <a href="#" id="eventUrl" target="_blank" class="btn btn-primary">Event Link</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



    
{% endblock cta %}

{% block content %}

{% endblock content %}

{% block scripts %}



{% endblock scripts %}