{% extends 'base.html' %}
{% load scheduletags %}
{% block cta %}
<div id="calendar"></div>


{% endblock cta %}


{% block content %}

{% endblock content %}
{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var events = JSON.parse('{{ events|safe }}');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'es',
            events: events,
            eventTimeFormat: { hour: '2-digit', minute: '2-digit', hour12: false },

            eventColor: '#378006',
            eventTextColor: 'white',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },


            events: '/calendar/events/',  // URL to retrieve events from
            eventColor: '#378006',
            eventRender: function(info) {
                var element = $(info.el);
                if (info.event.extendedProps.description) {
                    element.tooltip({
                        title: info.event.extendedProps.description,
                        trigger: 'hover',
                        placement: 'top',
                        container: 'body'
                    });
                }
            }
            

          
            
        });

        calendar.render();//IMPORTANTE NO OLVIDARSE DE CORRER "colect static"
    });
</script>

{% endblock scripts %}

