{% extends 'usuarioLogin/base.html' %}
{% load static %}
{% block cta %}

    <div class="row">
        <div class="col-12 col-md-6 col-xl-5 offset-xl-1">
            <h1>Registro de Usuario</h1>
                <p>Ingrese sus credenciales para iniciar sesión</p>
                         
            <form action="" method="post">
                {% csrf_token %}
                <!--{{ form.as_p }}-->
                Usuario: <input type="text" name="username" value=""required/>   <br>   
                Apellidos: <input type="text" name="last_name" value=""required/><br>
                Nombres: <input type="text" name="first_name" value=""required/><br>
                Email: <input type="email" name="email" value=""required/><br>
                Fecha de Nacimiento: <input type="date" name="FechaNacimiento" value=""/><br>
                Celular : <input type="text" name="celular" value=""/><br>
                Direccion: <input type="textfield" name="direccion" value=""/><br>
                Tipo de identificación: <input type="text" name="identification_type" value=""/><br>
                Numero de identificación: <input type="text" name="identification_number" value=""/><br>
                Nacionalidad: <select name="nacionalidad">
                    <option value="">Seleccione</option>
                    <option value="1">Ecuatoriano</option>
                    <option value="2">Extranjero</option>
                    </select><br>   
                Genero: <select name="genero" required>
                    <option value="">Seleccion</option> 
                    {% for val, descrip in lista_genero %}
                    <option value="{{ val }}">{{ descrip }}</option>
                    {% endfor %}                    
                        </select><br>
                Contraseña: <input type="password" name="password1" value=""required/><br>
                Confirmar Contraseña: <input type="password" name="password2" value=""required /><br>
               





                
                <input type="submit" value="Confirmar" class="btn btn-light btn-lg action-button">
                <a href="/" class="btn btn-light btn-lg action-button" type="button">Cancelar</a>
                <br></br>
                <a href="{% url 'login' %}" class="btn btn-light btn-lg action-button" type="button">Iniciar Sesión</a>
        </div>

    </div>

{% endblock cta %}

{% block content %}

{% endblock content %}