{% extends 'usuarioLogin/base.html' %}
{% load static %}
{% block cta %}
<div class="container hero">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
            <h1>Atención para todo público</h1>
                <p> Neque porro quisquam est qui 
                    dolorem ipsum quia dolor sit amet, 
                    consectetur, adipisci velit </p>
                    <a href="citasMed/perfil" class="btn btn-light btn-lg action-button" type="button">Agendar Cita</a>
        </div>

    </div>
</div>
{% endblock cta %}

{% block content %}

{% endblock content %}
