{% extends 'base.html' %}

{% block cta %}

    <div class="container">
        <div class="row">
            <div class="col-xs-1-12">
                <p>Perfil de ususario Paciente</p>

                    {% for msg in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Aviso!:</strong>  {{msg}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>                   
                    {% endfor %}


                <a href="/citasMed/agendarCita" class="btn btn-light btn-lg action-button" type="button">Agendar Cita</a>
                <a href="../pdfGestion/subir_archivo_pdf" class="btn btn-light btn-lg action-button" type="button">Subir resultados de exámenes</a>
                <a href="/Medicperfil" class="btn btn-light btn-lg action-button" type="button">Soy Médico</a>
                <a href="/Staffperfil" class="btn btn-light btn-lg action-button" type="button">Soy Administrativo</a>
                
            </div>
           
        </div>
    </div>

{% endblock cta %}

{% block content %}
<a name="Ver citas" class="btn btn-primary" href="#" role="button"></a>
<a name="Agendar citass" class="btn btn-primary" href="citasMed/agendarCita.html" role="button"></a>
{% endblock content %}
